$icon-font-path: '/fonts/bootstrap/';

@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	position: relative;
}

html {
	min-height: 100%;
}

body {
  background-color: lightgrey;
}

.container-fluid {
	height: 100%;
	width: 100%;

	.row {
		height: 100%;
	}

	.col {
		height: 100%;
	}
}
